@import "tailwindcss";

:root {
  --primary-color: #1E88E5;
  --secondary-color: #F9A825;
  --background-color: #F5F7FA;
  --font-family: "Poppins", sans-serif;
}

button {
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

/* button:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
} */

input:focus{
  outline: none;
}

button:focus{
  outline: none;
}

/* Toast Container Styles */
.Toastify__toast-container {
  z-index: 9999;
}

.Toastify__toast {
  z-index: 9999;
  font-family: var(--font-family);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.Toastify__toast--success {
  background-color: #10b981;
}

.Toastify__toast--error {
  background-color: #ef4444;
}

.Toastify__toast--info {
  background-color: #3b82f6;
}

.Toastify__toast--warning {
  background-color: #f59e0b;
}

.Toastify__toast-body {
  padding: 0;
}

.Toastify__progress-bar {
  background: rgba(255, 255, 255, 0.7);
}

.error-message{
  color: red;
}

@keyframes bounceSmooth {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px); /* small bounce */
  }
}

.animate-bounceSmooth {
  animation: bounceSmooth 1.4s ease-in-out infinite;
}
